# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Ignore build files
public

# sensitive data
/data/img/*.jpg
/data/*.json
/data/*.pdf
/data/*.xlsx
/data/password.js


# others
/data/informations.json.enc
/data/img
