# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Ignore build files
public

# others
/src/components/students/students.json
/src/components/students/students.xlsx
/enc.js
/src/components/students/encode.sh
/src/components/students/img
