@import "../../styles/_variables";


.password-component {
    max-width: 380px;
    width: 100%;
    padding: 8% 0 0;
    margin: auto;
    box-sizing: border-box;
}
.password-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    margin: 0 auto 0;
    padding: 1.2rem;
    text-align: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.24);
}
.password-form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 1rem;
    padding: 1rem;
    box-sizing: border-box;
    font-family: map-get($font-family, sans);
    font-size: map-get($fontFactors, p);
}
.password-form .password-decrypt-button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 1rem;
    color: #FFFFFF;
    cursor: pointer;
    letter-spacing: 0.1em;

    &:hover,
    &:active,
    &:focus {
        background: #43A047;
    }
}


.password-instructions {
    margin-top: -1em;
    margin-bottom: 1em;
}
