.person {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

}

.person-img {
  float: left;
  padding-right: 3rem;

  img {
    width: 12rem;
    height: auto;
  }
}

.person-data {
  float: left;
  h3 {
    margin-top: 0;
  }
}
