.person-inner {
  .person--out & {
    position: relative;
    &:before {
      content: "";
      background-color: rgba(200, 200, 200, 0.7);
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.person-img {
  float: left;
  padding-right: 3rem;

  img {
    width: 12rem;
    height: auto;
  }
}

.person-data {
  float: left;
  h3 {
    margin-top: 0;
  }
}
